<div sprkCenteredColumn idString="centered-column">
    <sprk-accordion>
        <sprk-accordion-item
        title="Hall of Fame (Famous Developers)"
        idString="accordion-item-2"
        analyticsString="object.action.event"
        additionalHeadingClasses="sprk-b-TypeDisplaySeven"
        >
            <div *ngFor="let person of famousPeople?.complete">
                <app-famous-person-detail [myPeople]="person"></app-famous-person-detail>
            </div>
        </sprk-accordion-item>
    </sprk-accordion>
</div>